.right-of-avatar {
  margin: 10px 10px;
}

.red-row {
  color: red;
  font-weight: bold;
}

.green-row {
  color: green;
  font-weight: bold;
}

.blue-row {
  color: blue;
  font-weight: bold;
}

.black-row {

}

.transaction-date-range-wrapper {
  label {
    margin-left: 10px;
    margin-right: 10px;
  }
  .form-group {
    padding-left: 5px;
    padding-right: 5px;
  }
}