<section class="panel panel-default">
    <div class="panel-heading">
        <span current-page-title></span>
        <div class="button-bar">
            <button ui-sref="^.list" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{'TASK.BACK_TO_LIST' | translate}}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle>
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="^.list">{{'TASK.BACK_TO_LIST' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form name="productForm" class="col-lg-6 form-validation form-horizontal userForm" role="form" novalidate ng-submit="submit()">
                <!--PROJECT-->
                <div class="form-group">
                    <label for="project" class="col-sm-3 control-label">
                        {{'TASK.PROJECT'| translate}} <span class="red">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input server-error name="taskName" id="project" type="text" class="form-control"
                               ng-model="model.project" ng-required="true">
                    </div>
                </div>

                <!--RELEASE_PLAN-->
                <div class="form-group">
                    <label for="releasePlan" class="col-sm-3 control-label">
                        {{'TASK.RELEASE_PLAN'| translate}} <span class="red">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input server-error name="releasePlan" id="releasePlan" type="text" class="form-control"
                               ng-model="model.releasePlan" ng-required="true">
                    </div>
                </div>

                <!--BOARD-->
                <div class="form-group">
                    <label for="board" class="col-sm-3 control-label">
                        {{'TASK.BOARD'| translate}} <span class="red">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input server-error name="board" id="board" type="text" class="form-control"
                               ng-model="model.board" ng-required="true">
                    </div>
                </div>

                <!--CARD_NUMBER-->
                <div class="form-group">
                    <label for="cardNumber" class="col-sm-3 control-label">
                        {{'TASK.CARD_NUMBER'| translate}} <span class="red">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input server-error name="cardNumber" id="cardNumber" type="text" class="form-control"
                               ng-model="model.cardNumber" ng-required="true">
                    </div>
                </div>

                <!--TASK_URL-->
                <div class="form-group">
                    <label for="taskUrl" class="col-sm-3 control-label">
                        {{'TASK.TASK_URL'| translate}} <span class="red">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input server-error name="taskName" id="taskUrl" type="text" class="form-control"
                               ng-model="model.taskUrl" ng-required="true">
                    </div>
                </div>

                <!--STATUS-->
                <div class="form-group">
                    <label for="status" class="col-sm-3 control-label">
                        {{'TASK.STATUS'| translate}} <span class="red">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input server-error name="status" id="status" type="text" class="form-control"
                               ng-model="model.status" ng-required="true">
                    </div>
                </div>

                <!--REVIEW-->
                <div class="form-group">
                    <label for="review" class="col-sm-3 control-label">
                        {{'TASK.REVIEW'| translate}} <span class="red">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input server-error name="review" id="review" type="text" class="form-control"
                               ng-model="model.review" ng-required="true">
                    </div>
                </div>

                <!--BUTTONS-->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button ng-disabled="!isFormValid() || self.formProcessing"
                                type="submit"
                                class="btn btn-success">
                            {{ 'SUBMIT' | translate }}
                        </button>
                        <div ng-show="!isFormValid()" class="callout callout-danger">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>

                        <div ng-show="self.errorMessage" class="callout callout-danger">
                            <p>{{'SAVE_ERROR' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>