<section class="panel panel-default">
    <div class="panel-heading">
        <span current-page-title></span>
        <div class="button-bar">
            <button ui-sref="^.list" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{'TAG.BACK_TO_LIST' | translate}}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle>
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="^.list">{{'TAG.BACK_TO_LIST' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form name="productForm" class="col-lg-6 form-validation form-horizontal userForm" role="form" novalidate ng-submit="submit()">
                <!--NAME-->
                <div class="form-group">
                    <label for="tagName" class="col-sm-3 control-label">
                        {{'TAG.NAME'| translate}} <span class="red">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input server-error name="tagName" id="tagName" type="text" class="form-control"
                               ng-model="model.name" ng-required="true">
                    </div>
                </div>
                <!--URL-->
                <div class="form-group">
                    <label for="tagUrl" class="col-sm-3 control-label">
                        {{'TAG.URL'| translate}} <span class="red">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input server-error name="tagUrl" id="tagUrl" type="text" class="form-control"
                               ng-model="model.url" ng-required="true">
                    </div>
                </div>

                <!--BUTTONS-->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button ng-disabled="!isFormValid() || self.formProcessing"
                                type="submit"
                                class="btn btn-success">
                            {{ 'SUBMIT' | translate }}
                        </button>
                        <div ng-show="!isFormValid()" class="callout callout-danger">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>

                        <div ng-show="self.errorMessage" class="callout callout-danger">
                            <p>{{'SAVE_ERROR' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>