<div slim-scroll>
    <ul class="nav sidebar-menu" ng-controller="SideBar">
        <!--PRODUCT_MANAGEMENT-->
        <li ng-show="hasProductModule">
            <a href="#" class="menu-dropdown">
                <span class="menu-icon">
                    <i class="fa fa-edit"></i>
                </span>
                <span class="menu-text">{{ 'NAVBAR.PRODUCT_MANAGEMENT' | translate }}</span>
                <!--<i class="menu-expand"></i>-->
            </a>

            <ul class="submenu">
                <li>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'NAVBAR.GENERAL_PRODUCT_MANAGEMENT' | translate }}</span>
                        <!--<i class="menu-expand"></i>-->
                    </a>

                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".productManagement.product.list">
                                <span class="menu-text">{{'PRODUCT_MANAGEMENT.PRODUCT.LIST' | translate }}</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref=".productManagement.product.builder">
                                <span class="menu-text">{{'PRODUCT_MANAGEMENT.PRODUCT.ADD' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--FREELANCE-->
                <li>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'NAVBAR.FREELANCE_PRODUCT_MANAGEMENT' | translate }}</span>
                        <!--<i class="menu-expand"></i>-->
                    </a>

                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".productManagement.freelanceProduct.list">
                                <span class="menu-text">{{'PRODUCT_MANAGEMENT.PRODUCT.LIST' | translate }}</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref=".productManagement.freelanceProduct.builder">
                                <span class="menu-text">{{'PRODUCT_MANAGEMENT.PRODUCT.ADD' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

        </li>

        <!--BID_AUCTION_MANAGEMENT-->
        <li ng-show="hasBiddingModule">
            <a href="#" class="menu-dropdown">
                <span class="menu-icon">
                    <i class="fa fa-gavel"></i>
                </span>
                <span class="menu-text">{{ 'NAVBAR.BID_AUCTION_MANAGEMENT' | translate }}</span>
                <!--<i class="menu-expand"></i>-->
            </a>

            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref=".bid.bidAuction.list">
                        <span class="menu-text">{{ 'NAVBAR.BID_AUCTION_IN' | translate }}</span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref=".bid.myBidAuctions.list">
                        <span class="menu-text">{{ 'NAVBAR.BID_AUCTION_OUT' | translate }}</span>
                    </a>
                </li>
            </ul>
        </li>

        <!--BILL-->
        <li>
            <a href="#" class="menu-dropdown">
                <span class="menu-icon">
                    <i class="fa fa-exchange"></i>
                </span>
                <span class="menu-text">{{ 'NAVBAR.BILL_MANAGEMENT' | translate }}</span>
                <!--<i class="menu-expand"></i>-->
            </a>

            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref=".bill.listIn">
                        <span class="menu-text">{{ 'NAVBAR.BILL_BUY_RENT' | translate }}
                            <span class="badge badge-danger">{{needConfirmedTransactionCount}}</span>
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref=".bill.listOut">
                        <span class="menu-text">{{ 'NAVBAR.BILL_SELL_LEASE' | translate }}
                            <span class="badge badge-danger">{{waitConfirmedTransactionCount}}</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>


        <!--EDIT PROFILE-->
        <li>
            <a href="#" class="menu-dropdown">
                <span class="menu-icon">
                    <i class="fa fa-user-circle"></i>
                </span>
                <span class="menu-text">{{ 'NAVBAR.ACCOUNT_INFO' | translate }}</span>
                <!--<i class="menu-expand"></i>-->
            </a>

            <ul class="submenu">
                <li>
                    <a ui-sref=".accountManagement.edit">
                        <i class="fa fa-edit"></i>
                        {{ 'EDIT_PROFILE' | translate }}
                    </a>
                </li>
                <li ng-show="hasCreditModule">
                    <a ui-sref=".credit.creditTransaction.list">
                        <i class="fa fa-dollar"></i>
                        {{ 'WALLET' | translate }}
                    </a>
                </li>
                <li>
                    <a ui-sref=".userPreference.edit({id: accountId})">
                        <i class="fa fa-cog"></i>
                        {{ 'NAVBAR.USER_PREFERENCE' | translate }}
                    </a>
                </li>
                <li ng-controller="Logout">
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out"></i>
                        {{ 'LOGOUT' | translate }}
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>