.filter-panel {
}

.no-visible {
  visibility: hidden;
}

.id-col {
  max-width: 80px;
}

.radio-item {
  padding-right: 10px;
}

.product-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.productForm {
  margin: 20px;
  .seller-alone {
    margin-bottom: 20px;
  }
}