.image-upload-wrapper {
  .picker {
    margin-top: 10px;
  }
  .uploadFile-picker {
    display: none;
  }
  .preview {
    width: 96px;
    height: 96px;
  }
}

.transport-img {
  padding: 10px;
  .form-group {
    margin: 10px;
  }
}

.user-preference-checkbox-item {
  //padding-left: 20px;
}